:root {
  --var: green;
  --nav-display: flex;
  --menu: none;
}

html,
body {
  padding: 0;
  margin: 0;
}
header {
  position: fixed;
  /* width: 103%; */
  height: 7%;
  background-color: rgba(100, 100, 100, 80);
  width: 100%;
  /* margin-left: -3%;
  margin-top: -0.5%; */
}
header a {
  /* width: 12%;
  display: inline;
  margin-right: 13%;
  margin-left: 13%;
  cursor: pointer; */
  text-decoration: none;
  color: black;
  font-size: 1.6em;
  font-weight: bold;
}
nav {
  display: var(--nav-display);
  justify-content: space-around;
}
h1 {
  color: var(--var);
}
#menu {
  display: var(--menu);
}
a:visited {
  color: black;
}
a:hover {
  color: darkgray;
}
.active {
  text-decoration: underline;
  cursor: not-allowed;
}
.active:hover {
  color: black;
}
body:has(#piros:checked) {
  --var: red;
}

@media only screen and (max-width: 600px) {
  header a {
    color: red;
  }
  :root {
    --menu: block;
    --nav-display: none;
  }
}
